/* ==UserStyle==
@name           Bitwarden_Dark
@namespace      https://github.com/Adaoh2/bitwardenvault-dark
@version        1.0.3
@description    A dark mode for the bitwarden vault
@author         Adaoh2
==/UserStyle== */
@-moz-document domain("vault.bitwarden.com") {
    /*--- Login Page ---*/
    html {
        background-color: #141414;
    }
    body.layout_frontend {
        background-color: #141414;
    }
    img.logo {
        filter: invert(1);
    }
    .text-center {
        color: #cacaca;
    }
    .card {
        background-color: #111;
        border: 1px solid rgba(255, 255, 255, .125);
        border-radius: 10px;
    }
    label {
        color: #b7b7b7;
    }
    .form-control,
    .form-control:focus {
        color: #d3d3d3;
        background-color: #0b0b0b;
        border: 1px solid #3e3e3e;
    }
    .btn[class*="btn-outline-"]:not(:hover),
    .swal2-popup .swal2-actions button[class*="btn-outline-"]:not(:hover) {
        border: 0px;
        color: #0079e4;
        background-color: #252525;
    }
    .btn-outline-secondary:hover:not(:disabled),
    .swal2-popup .swal2-actions button.swal2-cancel:hover:not(:disabled) {
        color: #0079e4;
        border: 0px;
        background-color: #1e1e1e;
    }
    .btn-outline-secondary:not(:disabled):not(.disabled):active,
    .swal2-popup .swal2-actions button.swal2-cancel:not(:disabled):not(.disabled):active,
    .btn-outline-secondary:not(:disabled):not(.disabled).active,
    .swal2-popup .swal2-actions button.swal2-cancel:not(:disabled):not(.disabled).active,
    .show > .btn-outline-secondary.dropdown-toggle,
    .swal2-popup .swal2-actions .show > button.dropdown-toggle.swal2-cancel {
        color: #0079e4;
        background-color: #1e1e1e;
    }

    /*----- My Vault Page -----*/
    body {
        background-color: #141414;
        color: #cacaca;
    }
    app-vault-groupings .card .card-body a,
    app-org-vault-groupings .card .card-body a,
    .groupings .card .card-body a {
        color: #cacaca;
    }
    /*- middle list darker -*/
    .table.table-list tr {
        background-color: #0f0f0f;
    }
    .table th,
    .table td {
        border-top: 1px solid #6f6f6f;
    }
    .table.table-list td small,
    .table.table-list td > .fa,
    .table.table-list td .icon {
        color: #b9b9b9;
    }
    .dropdown-item-text {
    color: #fff;
}
    /*--- Edit Item card----*/
    .modal-header,
    .modal-content,

    .modal-footer {
        background-color: #141414;
        border: 1px solid #141414;
    }

    .modal-body {
        border-radius: 10px;
    }
    .close:hover,
    .close {
        color: #f00;
        text-shadow: 0 0px;
    }
    /*---- Tools section ----*/
    app-password-generator .card-password .card-body {
        background-color: #1e1e1e;
    }
    .bg-light {
        background-color: #fff0 !important;
    }
    .list-group-item.active {
        background-color: #252525;
        color: #fff;
    }
    .list-group-item {
        background-color: #1e1e1e;
    }
    .dropdown-item:hover, .dropdown-item:focus {
    color: #e1e1e1;
    background-color: #1a1a1a;
}
    /*------ settings section ------*/
    .form-control:disabled,
    .form-control[readonly] {
        background-color: #393939;
        color: #c8c8c8;
    }
    .callout {
        background-color: #1e1e1e;
    }
    table.table.mb-2.ng-star-inserted,
    table.table-hover.table-list.ng-star-inserted {
        color: #c8c8c8;
    }
    .table-hover tbody tr:hover {
        color: #c8c8c8;
        background-color: #161616;
    }
    .dropdown-menu.show {
        background-color: #1e1e1e;
    }
    .dropdown-item {
        color: #c8c8c8;
    }
    .table {
        color: #c8c8c8;
    }
}
